@import "../../styles/globals.scss";
.container {
    width: 100%;  
    }
.title {
    font-size: 48px;
    color: $text-color;
    font-style: italic;
    margin-bottom: 20px;
    font-weight: 300;
}

@media (max-width: 560px) {
.title{
    font-size: 28px;
}
  }